.container {
  display: flex;
  height: 300px;
  background-color: blanchedalmond;
}
.bg-green {
  background-color: aqua;
}
.bg-brown {
  background-color: blueviolet;
}
.bg-red {
  background-color: azure;
}
.bg-yellow {
  background-color: aquamarine;
}
.item {
  width: 400px;
}
